a{
  position:relative;
  bottom:0.5vh;
  font: bold 5vh 'Roboto';
  text-transform:uppercase;
  color:#000;
  padding-left:1vw;
}
a:hover{
  color:white;
}
#welcome{
 position:absolute;
 top:-10vh;
}
body{
  font: bold 20px 'Roboto';
  text-transform:uppercase;
  color:#000;
  background-color: #494CA2;
}
#navbar{
  text-align:center;
  position:fixed;
  display:block;
  top:0px;
  left:-3px;
  right:-3px;
  width:100vw;
  height:5vh;
  z-index:1;
  background-color:#8186d5;
  border-radius: 8px;
}
#welcome-section{
  z-idex:3;
  position: relative;
  left:-10px;
  top: -25px;
  height:100vh;
  width:99vw;
}
#welcome-img{
  width:100vw;
  height:100vh;
}
#projects{
    overflow:hidden;
}
.project-tile{
  position:relative;
  height:60vh;
  width:80vw;
  background-color:gray;
  border-radius:8px;
  animation:popup;
  animation-duration:2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}

.project-tile-inverse{
  position:relative;
  height:60vh;
  width:80vw;
  background-color:gray;
  border-radius:8px;
  animation:popup-inverse;
  animation-duration:2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}

.project-tile:active,
.project-tile:focus,
.project-tile:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.project-tile-inverse:active,
.project-tile-inverse:focus,
.project-tile-inverse:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes popup{
  0%{left:-70vw;
    background-color:#000;} 
  95%{left:0vw;
  }
  99%{left:0vw;
  }
  100%{left:0vw;
  background-color:#8186d5;}
}

@keyframes popup-inverse{
  0%{left:90vw;
  background-color:#000;}
  95%{left:25vw;
  } 
  98%{left:25vw;
  } 
  100%{left:25vw;
  background-color:#8186d5;} 
}
.arrow {
  position:absolute;
  display: inline-block;
  right:10px;
  top:50%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

.project-description{
  position:absolute;
  top:30%;
  left:10vw;
  right:38vw;
}
.project-d-inverse{
  position:absolute;
  top:40%;
  left:38vw;
}
.project-img{
  position:relative;
  border-radius: 3em;
  margin-left:45vw;
  top:10vh;
  width:30vw;
  -webkit-box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);
   box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);
}
.project-img-inverse{
  -webkit-box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);
   box-shadow: 20px 20px 21px 0px rgba(0,0,0,0.75);

  position: absolute;
  top:10vh;
  margin-left:30px;
  width:30vw;
  border-radius: 3em;
}
.arrow-inverse{
  left:10px;
  transform: rotate(-135deg);
}
#ytlink{
  border-radius:8px;
  background-color:#C6CBEF;
  color:#000;
  text-shadow:none;
}
@media(max-width:600px){
  body{
    background-color:gray;
  }
}
