a{
  position:relative;
  bottom:0.5vh;
  text-decoration:none;
  font: italic 3vh 'Orbitron';
  text-transform:uppercase;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
  color:#e008c7;
  padding-left:1vw;
}
a:hover{
  color:white;
}
#welcome{
 position:absolute;
 top:-10vh;
}
body{
  font: italic 16px 'Orbitron';
  text-transform:uppercase;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
  color:##0d00ff;
  background-image: linear-gradient(45deg,  #180d44 24%,#ff23d8 29%,#220e49 29%,#270f4b 30%,#2f1050 35%,#93edff 36%,#7c1d76 50%,#c73fbe 53%,#7f1d77 53%,#8a1f7d 60%,#180d44 67%,#93edff 72%,#180d44 72%,#180d44 86%,#93edff 86%,#180d44 87%,#180d44 100%);
}
#navbar{
  text-align:center;
  position:fixed;
  display:block;
  top:0px;
  left:-3px;
  right:-3px;
  width:100vw;
  height:5vh;
  z-index:1;
  background-color:#2108e0;
  background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  border-radius: 8px;
}
#welcome-section{
  z-idex:3;
  position: relative;
  left:-10px;
  top: -25px;
  height:100vh;
  width:99vw;
}
#welcome-img{
  width:100vw;
  height:100vh;
}
#projects{
    overflow:hidden;
}
.project-tile{
  position:relative;
  height:60vh;
  width:80vw;
  background-color:gray;
  border-radius:8px;
  animation:popup;
  animation-duration:2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}

.project-tile-inverse{
  position:relative;
  height:60vh;
  width:80vw;
  background-color:gray;
  border-radius:8px;
  animation:popup-inverse;
  animation-duration:2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}

.project-tile:active,
.project-tile:focus,
.project-tile:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.project-tile-inverse:active,
.project-tile-inverse:focus,
.project-tile-inverse:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes popup{
  0%{left:-70vw;
    background-color:#73003d;} 
  95%{left:0vw;
  background-color:#ff0084;}
  99%{left:0vw;
  background-color:#20f8ff;}
  100%{left:0vw;
  background-color:#ff0084;}
}

@keyframes popup-inverse{
  0%{left:90vw;
  background-color:#73003d;}
  95%{left:25vw;
  background-color:#ff0084;} 
  98%{left:25vw;
  background-color:#20f8ff;} 
  100%{left:25vw;
  background-color:#ff0084;} 
}
.arrow {
  position:absolute;
  display: inline-block;
  right:10px;
  top:50%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

image{
border-radius: 5px;
}

.project-description{
  position:absolute;
  top:30%;
  left:10vw;
  right:38vw;
}
.project-d-inverse{
  position:absolute;
  top:40%;
  left:38vw;
}
.project-img{
  position:relative;
  margin-left:45vw;
  top:10vh;
  width:30vw;
}
.project-img-inverse{
  position: absolute;
  top:10vh;
  padding-left:3%;
  width:30vw;
}
.arrow-inverse{
  left:10px;
  transform: rotate(-135deg);
}
#ytlink{
  border-radius:8px;
  background-color:cyan;
  color:#000;
  text-shadow:none;
}
@media(max-width:600px){
  body{
    background-color:gray;
  }
}
